#!/usr/bin/make -f
# -*- makefile -*-

export ROS_DISTRO:=@ROS_DISTRO@
export ROS_PYTHON_VERSION:=3
export PYTHONPATH:=/opt/ros/${ROS_DISTRO}/lib/python3/dist-packages:/opt/ros/${ROS_DISTRO}/lib/python$(shell python3 -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}');")/site-packages:/opt/ros/${ROS_DISTRO}/local/lib/python$(shell python3 -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}');")/dist-packages:$(PYTHONPATH)
export PKG_CONFIG_PATH:=/opt/ros/${ROS_DISTRO}/lib/pkgconfig:$(PKG_CONFIG_PATH)
export ROS_MASTER_URI:=http://localhost:11311
export AMENT_PREFIX_PATH:=/opt/ros/${ROS_DISTRO}

TMP = $(CURDIR)/debian/tmp

%:
	dh $@ --no-parallel

override_dh_auto_configure-libmc-rtc-ros-compat:
	dh_auto_configure -- -DDISABLE_ROS=ON -DPYTHON_DEB_ROOT=$(TMP) -DFETCHCONTENT_FULLY_DISCONNECTED=ON -DDISABLE_ROS=ON

override_dh_auto_configure-libmc-rtc-ros-compat-dev:
	dh_auto_configure -- -DDISABLE_ROS=ON -DPYTHON_DEB_ROOT=$(TMP) -DFETCHCONTENT_FULLY_DISCONNECTED=ON -DDISABLE_ROS=ON

override_dh_auto_configure-ros-@ROS_DISTRO@-mc-rtc-ros-compat:
	dh_auto_configure -- -DPYTHON_DEB_ROOT=$(TMP) -DFETCHCONTENT_FULLY_DISCONNECTED

override_dh_auto_install:
	dh_auto_install
